    <div class="w-full max-w-md h-full max-h-lvh rounded-md content-center bg-blue-300 ">
        <label for="spotName">Name: </label>
        <input type="text" id="spotName" name="spotName" class="bg-white-100">
        

        <hr class="my-5 border-dashed"/>
        <div>
            <!-- <form>
                <label for="power">Charging Outlets?</label>
                <input type="checkbox" id="power" name="power" value="Power" class="w-5 h-4  ml-1">
                <br>

                <label for="seating">Amount of Seating (0-10)</label><br>
                <input type="range" id="seating" name="seating" value="0" min="0" max="10" class="border-hidden">
                <br>

                <label for="quality">Coffee Quality (0-10)</label><br>
                <input type="range" id="quality" name="quality" value="0" min="0" max="10" class="border-hidden">
                <br>

                <label for="affordable">Affordable</label>
                <input type="radio" id="affordable" name="price" class="border-2 rounded-md w-10">
                <br>
                <label for="cheap">Cheap</label>
                <input type="radio" id="cheap" name="price" class="border-2 rounded-md w-10">
                <br>
                <label for="expensive">Expensive</label>
                <input type="radio" id="expensive" name="price" class="border-2 rounded-md w-10">
                <br>
                <label for="insane">Break the bank</label>
                <input type="radio" id="insane" name="price" class="border-2 rounded-md w-10">
                <br>

                <label for="howLate">How late do they stay open?</label>
                <input type="time" id="howLate" name="howLate" step="360" class="border-2 rounded-md">

                <br>
                <label for="drinkOrder">Drink Order</label>
                <input type="text" id="drinkOrder" name="drinkOrder" class="border-2 rounded-md">

                <br>
                <label for="notes">Extra Notes:</label>
                <textarea id="notes" name="notes" placeholder="Describe the vibe" class="w-3/4 block p-2.5 text-sm border-2 rounded-md placeholder:opacity-40"></textarea> -->
                
            <!-- </form> -->



<form id="webForm" action="https://webto.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8&orgId=00DHu00000CJkYN" method="POST">

    
    <input type=hidden name='captcha_settings' value='{"keyname":"Cuattro_Website","fallback":"true","orgId":"00DHu00000CJkYN","ts":""}'>
    <input type=hidden name="oid" value="00DHu00000CJkYN">
    <input type=hidden name="retURL" value="https://cuattro.com/thank-you/">
    <input type=hidden id="lead_source" name="lead_source" value="Website">

    
    <!--  NOTE: These fields are optional debugging elements. Please uncomment    -->
    <!--  these lines if you wish to test in debug mode.                          -->
    

    <!--  <input type="hidden" name="debug" value=1>                             
    <input type="hidden" name="debugEmail"
    value="mswift@cuattro.com"> -->
    

    <div class="contact-form">
        <label for="first_name">
            First Name <span style="color: #FF0000;">*</span>
        </label>
        <br>
        <input id="first_name" name="first_name" type="text" required>

        <label for="last_name">
            Last Name <span style="color: #FF0000;">*</span>
        </label>
        <br>
        <input id="last_name" name="last_name" type="text" required>
        
        <label for="company">
            Company
        </label>
        <br>
        <input id="company" name="company" type="text">
    
        <label for="title">
            Title
        </label>
        <br>
        <input id="title" name="title" type="text">
        
        <label for="email">
            Email <span style="color: #FF0000;">*</span>
        </label>
        <br>
        <input id="email" name="email" type="email" required>
        
        <label for="phone">
            Phone <span style="color: #FF0000;">*</span>
        </label>
        <br>
        <input id="phone" name="phone" type="tel" required>
        
        <label for="description">
            Description
        </label>
        <br>
        <textarea id="description" name="description"></textarea>
        
        <div class="g-recaptcha" data-sitekey="6LcHpG0rAAAAAMuPpC7Q-Xi768I0Jcga3mhnNccN"></div>
        <br>
        
        <button type="submit">Send</button>
    </div>
</form>







        </div>
    </div>

