<div class="w-96">
    <div>        
        <ul class="list bg-base-100 rounded-box shadow-md">            
            <li class="list-row"><button (click)="showModal()" class="btn text-lg">+ Add New Spot</button></li>
            @for (spot of studySpots; track spot.id) {
                <li class="list-row flex justify-between items-center text-xl" (click)="changeSelectedSpot(spot)">
                    <div id="list-content" class="w-full h-full hover:bg-base-200 rounded-md p-1">
                        <span>{{ spot.name }}</span>
                        <div class="text-3xl font-thin opacity-30 tabular-nums">3.4/5</div>
                    </div>
                </li>
            } @empty {
                <li class="list-row">No spots saved.</li>
            }
        </ul>
        @if (isModalVisible) {
            <app-create-spot-form (close)="hideModal()"></app-create-spot-form>
        }
    </div>
</div>